#wpbody {
  padding-right: 20px;
}

#wpbody h2 {
  font-size:1.1rem;
}

/*  Utility
=========================================================== */
 
.margin {
  margin: 20px 0;
}

.margin-top {
  margin-top: 20px;
}

.margin-bottom {
  margin-bottom: 20px;
}


.margin-remove {
  margin: 0 !important;
}

.padding {
  padding: 15px;
}

/*  Grid
=========================================================== */

.grid {
  display: grid;
  grid-auto-columns: auto;
}

.grid-gap {
  grid-gap: 20px;
}

.grid.grid-6 {grid-template-columns: repeat(6, 1fr);}
.grid.grid-5 {grid-template-columns: repeat(5, 1fr);}
.grid.grid-4 {grid-template-columns: repeat(4, 1fr);}
.grid.grid-3 {grid-template-columns: repeat(3, 1fr);}
.grid.grid-2 {grid-template-columns: 1fr 1fr;}
.grid.grid-1 {grid-template-columns: 1fr;}

@media(max-width: 1400px) {
  .grid {
    grid-template-columns: 1fr !important;
  }
}

/*  Flex
=========================================================== */

.flex {display: flex;}

/* Horizontal */
.flex-left { justify-content: flex-start; }
.flex-center { justify-content: center; }
.flex-right { justify-content: flex-end; }
.flex-between { justify-content: space-between; }
.flex-around { justify-content: space-around; }

/* Vertical */
.flex-stretch { align-items: stretch; }
.flex-top { align-items: flex-start; }
.flex-middle { align-items: center; }
.flex-bottom { align-items: flex-end; }

/* wrap */
.flex-nowrap { flex-wrap: nowrap; }
.flex-wrap { flex-wrap: wrap; }
.flex-wrap-reverse { flex-wrap: wrap-reverse; }

/* expand */
.flex-expand {flex: 1;}

/* 1fr, 2fr, 3fr */
.flex-1 {flex: 1;}
.flex-2 {flex: 2;}
.flex-3 {flex: 3;}

/* auto */
.flex-auto { flex: auto; }

/*  Table
=========================================================== */

.the-project-form table,
.the-project-table {
  width:100%;
  border-collapse:collapse;
}

.the-project-form table td,
.the-project-table td {
  padding: 7px 5px;
  vertical-align: middle;
}

.the-project-form table th,
.the-project-table th {
  vertical-align: middle;
  text-align: left;
  color: #333;
  padding: 5px;
}

.the-project-table.the-project-table-striped th {
  background: #f8f8f8;
}

.the-project-table.the-project-table-striped tr:nth-child(even) {
  background: #f8f8f8;
}

.the-project-form table tr:nth-child(odd) {
  background: #f8f8f8;
}
.the-project-form table fieldset label {
  margin-right: 20px !important;
}

/*  panel
=========================================================== */
.the-project-panel {
  display: block;
  box-sizing: border-box;
  position: relative;
  background: white;
  border-radius: 3px;
  overflow: hidden;
}
.the-project-panel-title {
  margin: 10px;
  font-size: 1rem;
}

/*  ACF
=========================================================== */

.acf-flexible-content .layout .acf-fc-layout-handle {
  background: #1d2327; 
  color: white !important;
}

.acf-flexible-content .acf-icon.-clear {
  background: white;
}